/*Importing fonts from Google Fonts*/
/*Poppins, <p> font*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
/*Proza libre - medium italic 500italic // for the third button text*/
@import url('https://fonts.googleapis.com/css2?family=Proza+Libre:ital,wght@0,400;0,500;0,600;0,700;0,800;1,400;1,500;1,600;1,700;1,800&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
    /*Landing page*/
.hero{
    width: 100%;
    min-height: 100vh;
    background-image: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(11,11,11,0.9) 25%, rgba(39,39,39,0) 100%);
    position: relative;
    padding: 0 5%;
    display: flex;
    align-items: center;
    overflow: hidden;
}
/*nav bar*/
nav{
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    padding: 20px 5%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #161616c5;
}
nav .logo{
    width: 90px;
}
.group{
    display: flex;
    align-items: center;
}
.icon-container{
    /* display: inline-block; */
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    z-index: 10;
    cursor: pointer;
    padding-left: 20px;
}
.searchBox{
    position: absolute; 
    top: 70px;
    left: -100%; /*40*/
    width: 50%;
    height: 100%;
    display: flex;
    background:#161616;
    align-items: center;
    padding: 0 30px;
    transition: 0.5s ease-in-out;
}
.searchBox.active{
    left: 50%;
}
.searchBox input{
    width: 90%;
    border: none;
    outline: none;
    height: 40px;
    color: #ffffff;
    font-family: 'Poppins', serif;
    font-size: 20px;
    background: #161616c5;
    border-bottom: 1px solid rgba(83, 82, 82, 0.267);
}
.searchBtn{
    position: relative;
    left: 40px;
    transition: 0.5s ease-in-out;
    padding-right: 10px;
}
.searchBtn.active{
    left: 0;
}
.closeBtn{
    opacity: 0;
    visibility: hidden;
    transition: 0.5s;
    scale: 0;
}
.closeBtn.active{
    opacity: 1;
    visibility: visible;
    transition: 0.5s;
    scale: 1;
}
nav ul li{
    list-style: none;
    display: inline-block;
    margin-left: 40px;
    position: relative;
}
nav ul li a{
    text-decoration: none;
    color: #fff;
    font-size: 20px;
    font-family: "Poppins", serif; 
    transition: 0.5s;
}
nav ul li a:hover{
    border-bottom: 3px solid #F02525; 
    padding-bottom: 18px;
    color: #fdcbcb
}
.shopping-cart{
    width: 25px;
}
nav ul li .dropdown{
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    margin-top: 20px;
    background-color: #161616;
    min-width: 180px;
    box-shadow: 0px 4px 6px rgba(0,0,0,0.3);
    z-index: 10;
}
nav ul li:hover .dropdown{
    display: block;
}
nav ul li .dropdown li a {
    color: #fff;
    font-family: "Poppins", serif;
    font-size: 20px;
    text-decoration: none;
    display: block;
    transition: 0.5s;
    padding-bottom: 18px;
}
nav ul li .dropdown li a:hover{
    border-bottom: 2px solid #F02525; 
    width: 100%;
    color: #fdcbcb
}
.dropdown-icon{
    padding-left: 10px;
}

/*End of nav bar*/
.content{
    display: block;
    width: 400px;
    padding-top: 40px;
}
.content p{
    font-family: "Poppins", serif;
    font-weight: 400;
    font-size: 18px;
    color: white;
    padding-bottom: 22px;
}
.content hr{
    width: 20%;
}
.content a{
    text-decoration: none;
    display: inline-block;
    color: #fff;
    font-size: 18px;
    font-family: "Proza Libre", serif;
    font-weight: 500;
    font-style: italic;
    border-top: solid 1px #fff;
    padding-top: 4px;
}     
.main-text h1{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    font-size: 40px;
    color: #F02525;
    padding-top: 22px;
    padding-bottom: 8px;
}
.back-img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: top;
    z-index: -1;
}

    /*END OF LANDING PAGE*/

    /*Section1*/
.section1{
    display: flex;
    background-color: #161616;
    align-items: center;
}
.information{
    width: 50%;
    padding: 32px 5%;
}
.mainh1{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    font-size: 40px;
    color: #fff;
}
.information p{
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    font-size: 18px;
    max-width: 40ch;
}
.information-part h1{
    padding-top: 20px;
    font-family: Arial, Helvetica, sans-serif;
    color: #F02525;
    font-size: 32px;
    font-weight: 500;
}
.contact{
    display: flex;
    flex-direction: column;
    padding-bottom: 20px;
}
.contact a{
    text-decoration: none;
    font-family: 'Poppins', serif;
    font-size: 18px;
    color: white;
}
.contact a i{
    padding-right: 10px;
    font-size: 20px;
    color: #F02525;
}
.form{
    width: 50%;
    padding: 32px 5%;
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: white;
}
.forminput{
    display: flex;
    flex-direction: column;
    text-align: start;
    gap: 18px;
}
.forminput div{
    display: flex;
    flex-direction: column;
    gap: 4px;
}
.form h1{
    font-family: Arial, Helvetica, sans-serif;
    padding-bottom: 8px;
    font-size: 40px;
    font-weight: 600;
    color: #F02525;
}
.form p{
    font-family: 'Poppins', serif;
    font-size: 18px;
    padding-bottom: 12px;
}
.forminput label{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    color: #F02525;
}
.forminput input{
    padding: 12px;
    border: none;
    background-color: #97979734;
    color: rgb(16, 16, 16   );
    border-bottom: 1px solid #a09f9f;
}
.forminput textarea{
    border: none;
    background-color: #97979734;
    color: rgb(16, 16, 16);
    font-size: 18px;
    border-bottom: 1px solid #a09f9f;
}
.btn-submit{
    border: 1px solid #F02525;
    width: 25%;
    padding: 12px 12px;
    background-color: #F02525;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    font-weight: 500;
    cursor: pointer;
    font-size: 18px;
    transition: 0.3s;
}
.btn-submit:hover{
    color: #F02525;
    background-color: white;
}
    /*End of section1*/
    /*SECTION2*/
.map-container {
    width: 100%;
    height: 80vh; /* 80% of the viewport height */
}    
.map-container iframe {
    width: 100%;
    height: 100%;
    border: 0;
}
    /*END OF SECTION2*/
    /*SECTION 3*/
.section3{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 62px 0px;
    text-align: center;
}
.container-70{
    width: 70%;
}
.container-70 h1{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
    font-size: 40px;
    color: #F02525;
    padding-bottom: 8px;
}
.container-70 p{
    font-family: 'Poppins', serif;
    font-size: 18px;
    padding-bottom: 32px;
}
.newsletter .email{
    padding: 16px;
    margin-right: 10px;
    border: none;
    color: rgb(16, 16, 16   );
    border-bottom: 1px solid #7c7c7c;
    width: 40%;
}
    /*END OF SECTION3*/

    .burger-menu{
        display: none;
        font-size: 24px;
        cursor: pointer;
    }
    .bar{
        display: block;
        width: 25px;
        height: 3px;
        margin: 5px auto;
        -webkit-transition: all 0.3s ease-in-out;
        transition: all 0.3s ease-in-out;
        background-color: white;
    }

            /*Media querry*/
@media screen and (max-width: 768px){
    .burger-menu{
        display: block;
    }
    .hamburger.active .bar:nth-child(2){
        opacity: 0;
    }
    .hamburger.active .bar:nth-child(1){
        transform: translateY(8px) rotate(45deg);
    }
    .hamburger.active .bar:nth-child(3){
        transform: translateY(-8px) rotate(-45deg);
    }
    .main-menu{
        position: fixed;
        left: -100%;
        top: 68px;
        gap: 0px;
        display: flex;
        flex-direction: column;
        background-color: #050505ec;
        width: 100%;
        height: 60%;
        text-align: center;
        transition: 0.3s;
    }
    .nav-item{
        margin: 16px 0;
    }
    .main-menu.active{
        left: 0;
    }
    .form h1{
        font-size: 28px;
    }
    .form{
        padding: 20px 12px;
    }
    .mainh1{
        font-family: 28px;
    }
    .information-part h1{
        font-size: 24px;
    }
}

@media screen and (max-width: 425px){
    
    .section1{
        flex-direction: column;
    }
    .information{
        width: 100%;
        text-align: center;
    }
    .form{
        width: 100%;
        padding-bottom: 24px;
    }
    .newsletter{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 16px;
    }
    .container-70{
        width: 90%;
    }
    .newsletter .email {
        width: 90%;
    }
    .btn-submit {
        width: 80%;

    }
    footer .box-container {
     grid-template-columns: repeat(1, 1fr); 
     gap: 48px;
     align-items: center;
     text-align: center;
     }
     .share{
        justify-content: center;
     }
     .btn-submit{
         margin: 0 auto;
     }
     .searchBox{
         width: 100%;
     }
     .searchBox.active{
         left: 0%;
     }
 }